@font-face {
  font-family: 'Nickainley';
  src: url('../fonts/Nickainley-Normal.woff2'), url('../fonts/Nickainley-Normal.woff'), url(../fonts/Nickainley-Normal.svg);
  font-weight: normal;
  font-style: normal;
}
