@font-face {
  font-family: 'Bolero script';
  src: url('../fonts/Boleroscript.woff2') format('woff2'), url('../fonts/Boleroscript.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Aurora Script';
  src: url('../fonts/AuroraScript.woff2') format('woff2'), url('../fonts/AuroraScript.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
