{% extends "base.html" %}

{% block main-content %}
    <div id="primary" class="">

        <!-- SECTION: Slideshow -->
        <div class="section-slideshow" id="slideshow">
            <div class="owl-carousel main-carousel owl-theme">
                <!-- Slide -->
                <div class="featured-slide slide bg-cover viewport"
                     style="background-image: url('/static/img/banner1.jpg');">
                    <div class="slide-inner">
                        <div class="slide-icon active"></div>
                        {#                        <h1 class="slide-title active">Михаил &amp; Яна</h1>#}
                        <p class="slide-text active">Мы станем самой счастливой парой в мире через</p>
                        <div class="slide-extra">
                            <!-- countdown (edit date on main.js file)-->
                            <div class="bearr-countdown-wrapper">
                                <div id="bearr-countdown-item" class="bearr-countdown-item"></div>
                            </div>
                            <!-- /countdown -->
                        </div>
                    </div>
                </div>
                <!-- /Slide -->
            </div>
        </div>
        <!-- /SECTION: Slideshow -->

        <!-- SECTION: Wedding Bio -->
        <div class="section section-wedding-bio with-bg" id="wedding-bio">
            <div class="container">
                <!-- Section Title -->
                {#                <div class="title-section-wrapper">#}
                {#                    <!-- Title -->#}
                {#                    <h2 class="title-section">Мы</h2>#}
                {#                    <!-- /title -->#}
                {#                    <!-- Text -->#}
                {#                    <p class="text-section">Хотим, как в сказке, свое "happily ever after".</p>#}
                {#                    <!-- /text -->#}
                {#                </div>#}
                <!-- /Section Title -->

                <!-- Wedding Bio -->
                <div class="row wedding-bio-wrapper">
                    <div class="wedding-bio-item wedding-bio-item-bride">
                        <!-- Picture -->
                        <figure class="wedding-bio-image"><img src="/static/img/yana.jpg" alt="" class="responsive-image"></figure>
                        <!-- / Picture -->
                        <div class="wedding-bio-content">
                            <!-- name -->
                            <h2 class="heading wedding-bio-title"><span>Яна</span></h2>
                            <!-- /Name -->
                            <!-- Description -->
                            <div class="wedding-bio-text">
                                <p>Люблю читать и вкусно покушать. Мечтаю объездить весь мир.</p>
                            </div>
                            <!-- /Description -->
                        </div>
                    </div>
                    <div class="wedding-bio-item wedding-bio-item-groom">
                        <figure class="wedding-bio-image"><img src="/static/img/michael.jpg" alt="" class="responsive-image"></figure>
                        <div class="wedding-bio-content">
                            <h2 class="heading wedding-bio-title"><span>Михаил</span></h2>
                            <div class="wedding-bio-text">
                                <p>Люблю Яну.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Wedding Bio -->
            </div>

        </div>
        <!-- /SECTION: Wedding Bio -->

        {#        <!-- SECTION: Testimonials -->#}
        {#        <div class="section section-testimonials-wrapper"#}
        {#             style="background-image: url('/static/img/testimonials-bg.jpg');">#}
        {#            <div class="container">#}
        {#                <!-- Testimonials Carousel -->#}
        {#                <div class="section-testimonials text-light">#}
        {#                    <div class="owl-carousel testimonial-carousel common-carousel owl-theme">#}
        {#                        <!-- Testimonial Item -->#}
        {#                        <div class="slide">#}
        {#                            <div class="testimonial-item">#}
        {#                                <blockquote>#}
        {#                                    <!-- TEstimonial Text -->#}
        {#                                    <p>Мы просто захотели закатить классную вечеринку, которая для нас двоих не#}
        {#                                        заканчивалась бы никогда.</p>#}
        {#                                    <!-- /Testimonial Text -->#}
        {#                                    <!-- Testimonial Author -->#}
        {#                                    <footer><cite></cite></footer>#}
        {#                                    <!-- /Testimonial Author -->#}
        {#                                </blockquote>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <!-- / Testimonial Item -->#}
        {##}
        {#                        <!-- Testimonial Item -->#}
        {#                        <div class="slide">#}
        {#                            <div class="testimonial-item">#}
        {#                                <blockquote>#}
        {#                                    <!-- TEstimonial Text -->#}
        {#                                    <p>Свою жену не ругаю. Её никогда не брошу. Это ведь со мной она стала плохая. А#}
        {#                                        брал-то её хорошей.</p>#}
        {#                                    <!-- /Testimonial Text -->#}
        {#                                    <!-- Testimonial Author -->#}
        {#                                    <footer><cite>В.В. Маяковский</cite></footer>#}
        {#                                    <!-- /Testimonial Author -->#}
        {#                                </blockquote>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                        <!-- / Testimonial Item -->#}
        {#                    </div>#}
        {#                </div>#}
        {#                <!-- /Testimonials Carousel -->#}
        {#            </div>#}
        {#        </div>#}
        {#        <!-- /SECTION: Testimonials -->#}


        <!-- SECTION: Events -->
        <div class="section with-dark-bg section-events" id="special-events"
             style="background-image: url('/static/img/special-event-bg.jpg');">
            <div class="container">

                <!-- Section Title -->
                <div class="title-section-wrapper">
                    <!-- Title -->
                    <h2 class="title-section"></h2>
                    <!-- /title -->
                    <!-- Text -->
                    {#                    <p class="text-section">Once upon a time</p>#}
                    <!-- /text -->
                </div>
                <!-- /Section Title -->

                <!-- row -->
                <div class="row" style="display: flex; justify-content: center;">
                    <!-- col -->
{#                    <div class="col-sm-6">#}
{#                        <!-- Event Item -->#}
{#                        <div class="events-reminder-item">#}
{#                            <header>#}
{#                                <h3 class="events-item-heading">Бракосочетание в ЗАГС</h3>#}
{#                            </header>#}
{#                            <div class="events-item-content">#}
{#                                <ul>#}
{#                                    <li>#}
{#                                        <span class="events-reminder-item-icon events-reminder-item-icon-time"></span><span#}
{#                                            class="events-reminder-time-content">17:15</span>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <span class="events-reminder-item-icon events-reminder-item-icon-date"></span><span#}
{#                                            class="events-reminder-date-content">Пятница 4 - Августа 2017</span>#}
{#                                    </li>#}
{#                                    <li>#}
{#                                        <span class="events-reminder-item-icon events-reminder-item-icon-address"></span>#}
{#                                        <span class="events-reminder-date-address">#}
{#                                            <a target="_blank"#}
{#                                               href="https://yandex.ru/maps/213/moscow/?mode=search&ll=37.644858%2C55.765983&z=15&text=%D0%93%D1%80%D0%B8%D0%B1%D0%BE%D0%B5%D0%B4%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%20%D0%B4%D0%B2%D0%BE%D1%80%D0%B5%D1%86%20%D0%B1%D1%80%D0%B0%D0%BA%D0%BE%D1%81%D0%BE%D1%87%D0%B5%D1%82%D0%B0%D0%BD%D0%B8%D1%8F%20%E2%84%96%201&sll=37.644423%2C55.767134&sspn=0.087719%2C0.031936&ol=psearch&oid=maps%3A1542474154">#}
{#                                                Дворец бракосочетания №1#}
{#                                            </a>#}
{#                                        </span>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                        <!-- /Event Item -->#}
{#                    </div>#}
                    <!-- /col -->
                    <!-- col -->
                    <div class="col-sm-6 col-xs-12">
                        <!-- Event Item -->
                        <div class="events-reminder-item">
                            <header>
                                <h3 class="events-item-heading">Свадебное торжество</h3>
                            </header>
                            <div class="events-item-content">
                                <ul>
                                    <li>
                                        <span class="events-item-icon"><i class="fa fa-clock-o fa-2" aria-hidden="true"></i></span>
                                        <span
                                            class="events-reminder-time-content">14:00</span>
                                    </li>
                                    <li>
                                        <span class="events-item-icon"><i class="fa fa-calendar-o fa-2" aria-hidden="true"></i></span><span
                                            class="events-reminder-date-content">Суббота 5 - Августа 2017</span>
                                    </li>
                                    <li>
                                        <span class="events-item-icon"><i class="fa fa-map-marker fa-2" aria-hidden="true"></i></span>
                                        <span class="events-reminder-date-address">
                                            <a target="_blank"
                                               href="https://yandex.ru/maps/?mode=search&ll=37.367599%2C55.723631&z=15&text=%D0%A8%D0%B0%D1%82%D0%BE-%D0%BE%D1%82%D0%B5%D0%BB%D1%8C%20%22%D0%9D%D0%B5%D0%BC%D1%87%D0%B8%D0%BD%D0%BE%D0%B2%D0%BA%D0%B0-%D0%9F%D0%B0%D1%80%D0%BA%22&sll=37.367599%2C55.723631&sspn=0.091925%2C0.029065&sctx=CAAAAAEAMEj6tIrSQkBfJR%2B7C%2BJLQM3CAQBgiLc%2FD4MQ9PO6nT8AAAAABQAAAAAAAAABnlxkbFa7NlgBAAAAAe%2F%2Ffz8AAAAABQAAACMAAABkaXJlY3RfdXNlX2FsbF9jYXRlZ29yaWVzX2FzX3RleHQ9MSQAAABkaXJlY3RfdXNlX2NhdGVnb3J5X2FzX3RleHRfYXBwZW5kPTEsAAAAZGlyZWN0X3VzZV9ydWJyaWNfcXVlcnlfY2F0ZWdvcmllc19hc190ZXh0PTEmAAAAcmFua2luZ19mb3JtdWxhPWNvbW1vbl9saWdodF9mbWwxNzY3MjMmAAAAcmFua2luZ19mb3JtdWxhPWNvbW1vbl9saWdodF9mbWwxNzY3MjM%3D&ol=biz&oid=1387251840">
                                               Шато-отель "Немчиновка-Парк"
                                            </a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /Event Item -->
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->


            </div>

        </div>
        <!-- / SECTION: Events -->

        <!-- RSVP -->
        <div class="section section-contact bg-cover with-bg" id="rsvp"
             style="background-image: url(/static/img/back1.jpg);">
            <div class="container">

                <!-- Section Title -->
                <div class="title-section-wrapper">
                    <!-- Title -->
                    <h2 class="title-section"></h2>
                    <!-- /title -->
                    <!-- Text -->
                    <p class="text-section2">Пожалуйста, подтверди свое присутсвие, заполнив форму ниже.</p>
                    <!-- /text -->
                </div>
                <!-- /Section Title -->

                <!-- Form -->
                <form class="form row rsvp" method="POST" action="{% url 'index' %}">
                    {% csrf_token %}
                    <!-- Form Group -->
                    <div class="col-sm-6 form-group">
                        <label>Имя</label>
                        <input type="text" class="form-control required" id="name" name="firstname"/>
                        <!-- Form Group -->
                    </div>
                    <!-- Form Group -->

                    <!-- Form Group -->
                    <div class="col-sm-6 form-group">
                        <label>Фамилия</label>
                        <input type="text" class="form-control required" id="surname" name="lastname"/>
                        <!-- Form Group -->
                    </div>
                    <!-- Form Group -->

                    <!-- Form Group -->
                    <div class="col-sm-12 form-group">
                        <label>Можно написать какие-то пожелания или просто что-нибудь приятное</label>
                        <textarea class="form-control required" rows="3" id="message" name="comment"></textarea>
                    </div>
                    <!-- Form Group -->

                    <!-- Form Group -->
                    <div class="col-sm-12 form-group">
                        <button type="submit" class="primary-btn with-bg">Зарегистрироваться!</button>
                    </div>
                    <!-- Form Group -->
                </form>
                <!-- /Form -->
            </div>
        </div>
        <!-- /RSVP -->

        <!-- Pre-marriageParty -->
        <div class="section with-dark-bg section-events" id="Pre-marriageParty"
             style="background-image: url('/static/img/special-event-bg.jpg');">
            <div class="container">

                <!-- Section Title -->
                <div class="title-section-wrapper">
                    <!-- Title -->
                    <h2 class="title-section"></h2>
                    <!-- /title -->
                    <!-- row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-sm-6">
                            <!-- Event Item -->
                            <div class="events-reminder-item">
                                <header>
                                    <h3 class="events-item-heading">Мальчишник</h3>
                                </header>
                                <div class="events-item-content">
                                    <ul>
                                        <li>
                                            <span class="events-item-icon">
                                                <i class="fa fa-clock-o fa-2" aria-hidden="true"></i>
                                            </span>
                                            <span class="events-reminder-time-content">20:00</span>
                                        </li>
                                        <li>
                                            <span class="events-item-icon">
                                                <i class="fa fa-calendar-o fa-2" aria-hidden="true"></i>
                                            </span>
                                            <span class="events-reminder-date-content">Пятница 28 - Июля 2017</span>
                                        </li>
                                        <li>
                                            <span class="events-item-icon">
                                                <i class="fa fa-map-marker fa-2" aria-hidden="true"></i>
                                            </span>
                                            <span class="events-reminder-date-address">Бар</span>
                                        </li>
                                        <li>
                                            <span class="events-item-icon">
                                                <i class="fa fa-user fa-2" aria-hidden="true"></i>
                                            </span>
                                            <span class="events-reminder-time-content">Сергей +7(985)274-70-69</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /Event Item -->
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-sm-6">
                            <!-- Event Item -->
                            <div class="events-reminder-item">
                                <header>
                                    <h3 class="events-item-heading">Девичник</h3>
                                </header>
                                <div class="events-item-content">
                                    <ul>
                                        <li>
                                            <span class="events-item-icon">
                                                <i class="fa fa-clock-o fa-2" aria-hidden="true"></i>
                                            </span>
                                            <span class="events-reminder-time-content">20:00</span>
                                        </li>
                                        <li>
                                            <span class="events-item-icon">
                                                <i class="fa fa-calendar-o fa-2" aria-hidden="true"></i>
                                            </span>
                                            <span class="events-reminder-date-content">Пятница 28 - Июля 2017</span>
                                        </li>
                                        <li>
                                            <span class="events-item-icon">
                                                <i class="fa fa-map-marker fa-2" aria-hidden="true"></i>
                                            </span>
                                            <span class="events-reminder-date-address">Санкт-Петербург</span>
                                        </li>
                                        <li>
                                            <span class="events-item-icon">
                                                <i class="fa fa-user fa-2" aria-hidden="true"></i>
                                            </span>
                                            <span class="events-reminder-time-content">Валерия +7(916)323-92-42</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /Event Item -->
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /Section Title -->

            </div>
            <!-- /Pre-marriageParty -->
        </div>

        <div class="section section-wedding-bio with-bg">
            <!-- Gallery -->
            <div class="section section-gallery" id="gallery">

                <!-- Section Title -->
                <div class="title-section-wrapper">
                    <!-- Title -->
                    <h2 class="title-section"></h2>
                    <!-- /title -->
                    <!-- Text -->
                    <p class="text-section">Здесь будут фотографии с нашего торжества, чтобы каждый мог
                        окунуться в атмосферу праздника ещё раз.</p>
                    <p class="text-section">А пока что можно полюбоваться на нас!</p>
                    <!-- /text -->
                </div>
                <!-- /Section Title -->

                <!-- Gallery Images -->
                <div class="gallery-images row">
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo1.jpg"><img
                                src="static/img/photo1.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo2.jpg"><img
                                src="static/img/photo2.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo3.jpg"><img
                                src="static/img/photo3.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo4.jpg"><img
                                src="static/img/photo4.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo6.jpg"><img
                                src="static/img/photo6.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo5.jpg"><img
                                src="static/img/photo5.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo8.jpg"><img
                                src="static/img/photo8.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo7.jpg"><img
                                src="static/img/photo7.jpg" alt="Gallery Image"></a></div>
                    </div>
                </div>
                <!-- /Gallery Images -->
            </div>
            <!-- /Gallery -->
        </div>
    </div>
{% endblock %}