{% extends "base.html" %}

{% block main-content %}


    <div id="primary" class="">

        <!-- SECTION: Slideshow -->
        <div class="section-slideshow" id="slideshow">
            <div class="owl-carousel main-carousel owl-theme">
                <!-- Slide -->
                <div class="featured-slide slide bg-cover viewport"
                     style="background-image: url('/static/img/banner1.jpg');">
                </div>
                <!-- /Slide -->
            </div>
        </div>
        <!-- /SECTION: Slideshow -->

        <div class="section section-wedding-bio with-bg">
            <!-- Gallery -->
            <div class="section section-gallery" id="gallery">
                <!-- Section Title -->
                <div class="title-section-wrapper">
                    <!-- Title -->
                    <h3 class="title-section">Дорогие друзья и близкие!</h3>
                    <!-- /title -->
                    <!-- Text -->

                    <p class="text-section">Мы счастливы, что именно с вами разделили радость и счастье этого дня!<br />
                    Спасибо за то, что украсили собой наши свадебные фото!</p>

                    <!-- Gallery Images -->
                <div class="gallery-images row" style="margin-top: 10px">
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo1.jpg"><img
                                src="static/img/photo1.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo2.jpg"><img
                                src="static/img/photo2.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo3.jpg"><img
                                src="static/img/photo3.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo4.jpg"><img
                                src="static/img/photo4.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo5.jpg"><img
                                src="static/img/photo6.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo6.jpg"><img
                                src="static/img/photo5.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo8.jpg"><img
                                src="static/img/photo8.jpg" alt="Gallery Image"></a></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 no-space">
                        <div class="bearr-gallery-item"><a href="static/img/photo7.jpg"><img
                                src="static/img/photo7.jpg" alt="Gallery Image"></a></div>
                    </div>
                </div>
                <!-- /Gallery Images -->

                    <p class="text-section" style="margin-top: 20px">Все фото можно посмотреть
                        <a href="https://www.dropbox.com/sh/rphs7jnw1oww04l/AADNAocG5nXF8iEo8fo6laTJa?dl=0" target="_blank"> здесь</a></p>
                    <!-- /text -->
                </div>
                <!-- /Section Title -->
            </div>
            <!-- /Gallery -->
        </div>
    </div>

{% endblock %}