{% extends "base.html" %}

{% block main-content %}
    <div id="primary" class="">

            <!-- Content Area -->
            <div class="content-area">
                <div class="container">
                    <div class="row">

                        <!-- Main -->
                        <div class="col-md-12">
                            <main id="main" class="site-main">

                                <!-- post -->
                                <article class="post type-post status-publish format-standard has-post-thumbnail hentry">
                                    <div class="post-element">
                                        <!-- Featured image -->
                                        <!-- / Featured-image -->
                                        <div class="post-content">
                                            <!-- .entry header -->
                                            <header class="entry-header">
                                                <div class="entry-meta">
{#                                                    <span class="entry-meta-content"><span class="">Posted on <a href="#" rel="bookmark"><time class="entry-date published" datetime="2016-06-27T19:29:26+00:00">June 27, 2016</time><time class="updated" datetime="2016-09-23T14:41:51+00:00">September 23, 2016</time></a></span><span class="byline"> by <span class="author vcard"><a class="url fn n" href="#">admin</a></span></span></span>#}
                                                </div>
                                                <!-- .entry-meta -->
                                                <div class="post-has-ct"></div>
                                                <h1 class="entry-title">Свадебная палитра</h1>
                                            </header>
                                            <!-- .entry-header -->
                                            <!-- .entry-content -->
                                            <div class="entry-content">
                                                <p>Дорогие гости, мы очень старались сделать наше торжество незабываемым для наших друзей и близких!</p>
                                                    <p>Мы будем очень рады и благодарны, если вы поддержите выбранные нами цвета свадьбы
                                                    при выборе наряда для нашего праздника! </p>
                                                <p>Основная цветовая палитра нашего праздника:</p>
                                                <div class="post-featured-image">
                                                    <img width="770" height="525" src="/static/img/colors.jpg">
                                                </div>
                                                <p>Цвета и примеры дамских и мужских нарядов:</p>
                                                <div class="post-featured-image">
                                                    <img width="770" height="525" src="/static/img/girls.jpg">
                                                </div>
                                                <div class="post-featured-image">
                                                    <img width="770" height="525" src="/static/img/boys.jpg">
                                                </div>
                                            </div>
                                            <!-- /.entry-content -->
                                        </div>
                                    </div>
                                </article>
                                <!-- /post -->
                            </main>
                        </div>
                        <!-- Main -->

                    </div>
                </div>
            </div>
            <!-- Content Area -->

    </div>
{% endblock %}